body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 18px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    padding: 8px 30px 30px;
    color: whitesmoke;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    justify-content: space-around;
    gap: 16px;
}

.header-links a {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(110, 131, 200);
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    padding-bottom: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    flex-direction: column;
}

.header-links a:hover {
    background-color: rgb(33, 7, 180);
}

#showcase-link {
    color: rgb(39, 69, 177);
    text-decoration: none;
}

.paragraph {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.items {
    display: flex;
}

.items img {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    height: 15vw;
    width: 20vw;
}

.items img:hover {
    background-color: rgb(45, 43, 43);
}

@media (max-width: 450px) {
    .header {
        align-items: center;
        gap: 10px;
    }

    .header-links {
        flex-wrap: wrap;
        gap: 5px;
        padding: 0;
        margin: 0;
    }
}